apiVersion: apps/v1
kind: Deployment
metadata:
  name: myrstdevopsappdeployment
spec:
  replicas: 5
  selector:
    matchLabels:
      name: myapp
  template:
    metadata:
      labels:
        name: myapp
    spec:
      containers:
      - name: myapp
        image: stevl135/estebanjenkins:latest
        ports:
        - containerPort: 80
